.jumbotron
  %h4
    Welcome to Shriffal E-learning Platform
  .display-4
    %hr
    What do you want to learn?
  %p.py-4
  .form-inline.my-2.my-lg-0
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Find a course", class: 'form-control-lg'
        %span.input-group-append
          %button.btn.btn-primary.btn-lg{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}


.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%br




%hr 
%h2
  Popular Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr 
%h2
  Top rated Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr 
%h2
  Latest courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course

%hr